

    <!-- Article List Section -->
    <main class="py-16">
        <div class="container mx-auto px-6 bg-white shadow-lg rounded-lg">
            <h2 class="text-3xl font-bold text-gray-800 text-center py-6">文章清單</h2>

            <!-- Article List -->
            <div class="divide-y divide-gray-200">
                <!-- Single Article -->
                <div class="py-4 flex items-center">
                
               
                </div>
            </div>


            <!-- Pagination -->
            <div class="py-6 flex justify-center space-x-2">
            

               
                
          
            </div>

        </div>
    </main>

